@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');
:root {
    --white:#fff;
    --white50:#d7ccc0;
    --light:#f5f4f0;
    --primary:#fe8a02;
    --primary-dark:#42413c;
    --dark:#2a2626;
    --dark50:#908d8b;
    --brown:#b09a81;
    --blue:#1085c5;
}
a {
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Neucha", sans-serif;
    line-height: 1.2em;
    color: var(--primary);
    font-weight: 400;
}
h1 {
    font-size: 72px;
    margin: 0;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
}
.container
 {
    padding: 100px 0;
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    box-sizing: border-box;
}
header {
    
width: 100%;
overflow-x: hidden;
}
.dark {
    color: var(--dark);
}
.bg-light {
    
    position: relative;
}
.bg-light::before {
    content: "";
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(background-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-color: var(--light);
}
.header-img {
    position: absolute;
    height: 525px;
    top: 85px;
    right: -270px;
    z-index: -1;
}
.container-text {
    gap: 30px;
    margin-top: 250px;
    display: flex;
}
.container-basis {
    flex-basis: 50%;
}
.header-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    border: none;
}
.what-it {
    padding-bottom: 0;
}
.what-it-title {
    margin: 0;
}
.container > p {
    margin-bottom: 30px;
}
.shadow {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.video {
    position: relative;
    z-index: 2;
}
.text-align {
    text-align: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 200px;
}
.mb0 {
    margin-bottom: 0;
}
.m0 {
    margin: 0;
}

.card {
    display: block;
    width: 32%;
    margin-bottom: 20px;
    background-color: var(--light);
    text-align: start;
    padding: 24px;
    box-sizing: border-box;
    max-height: 380px;
}
.navigation-title-box {
    width: 32%;
    display: block;
    margin: 0;
    text-align: start;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-height: 323px;
}
.light {
    color: var(--white);
}
.navigation-title {
    font-size: 52px;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
}
#navigation {
    background-color: var(--primary-dark);
    margin-top: -100px;
}
.number {
    margin: 0;
    margin-bottom: 40px;
    font-size: 64px;
    font-family: "Neucha";
    line-height: 1;
}
